@font-face {
  font-family: Title;
  src: url(../assets/fonts/ANODETONOONE.TTF);
}

body {
  background-image: url(../assets/images/fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#main-container {
  width: 960px;
  height: auto;
  position: relative;
  margin: 0 auto;
}

#game-container {
  width: 960px;
  height: 630px;
  background-image: url(../assets/images/fundo_game.jpg);
  border-color: #FFF;
  border-style: solid;
}

#start-container {
  width: 360px;
  height: 220px;
  background-color: #FFF;
  margin: 56px auto;
  text-align: center;
  padding: 12px;
  border-radius: 3.5px;
}

#game-title {
  font-family: Title;
  font-size: 40px;
  color: #603a03;
}

#player {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url(../assets/images/apache.png);
}

#enemy1 {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url(../assets/images/inimigo1.png);
}

#enemy2 {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url(../assets/images/inimigo2.png);
}

#friend {
	width: 44px;
	height: 51px;
	position: absolute;
	left: 10px;
	top: 464px;
  background-image: url(../assets/images/amigo.png);
}

#fire {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url(../assets/images/disparo.png);
}
